body {
    background-color: black;
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(lion-roar-colorful-digital-art-animal-hd-wallpaper-uhdpaper.com-614@1@k.jpg);
}

h1 {
    color: #f80404;
}

form {
    margin: 100px
    max-width: 300px;
    padding: 10px;
    border: 1px solid #333;
}

form label,
form input,
form textarea {
    display: block;
    margin: auto;
    width: 277px;
    color: red;
    padding: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#search-program {
    padding: 10px;
    display: flex;
    margin-left: 145px;
    background-color: darkolivegreen;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    margin: 10px;
    margin-right: 200px;
    padding: 10px;
    background-color: wheat;
    width: 500px;
}
